{port_specs, [{"priv/druuid.so", ["c_src/*.c"]}]}.
{port_env, [{"CFLAGS", "$CFLAGS -fPIC"},
            {"(bsd)", "DRV_CFLAGS", "$DRV_CFLAGS -Werror"},
            {"(bsd)", "DRV_LDFLAGS", "$DRV_LDFLAGS"},
            {"^(?s)((?!bsd).)*$", "DRV_CFLAGS", "$DRV_CFLAGS -Werror -I c_src/uuid-1.6.2"},
            {"^(?s)((?!bsd).)*$", "DRV_LDFLAGS", "$DRV_LDFLAGS c_src/uuid-1.6.2/.libs/libuuid.a"}
            ]}.
{pre_hooks, [{"^(?s)((?!bsd).)*$", compile, "c_src/build_deps.sh"}]}.
{post_hooks, [{"^(?s)((?!bsd).)*$", clean, "c_src/build_deps.sh clean"}]}.
