{so_name, "druuid.so"}.

{port_sources, ["c_src/*.c"]}.

{port_envs, [
             %% Make sure to set -fPIC when compiling ossp-uuid
             {"CFLAGS", "$CFLAGS -fPIC"},
             {"DRV_CFLAGS", "$DRV_CFLAGS -Werror -I c_src/uuid-1.6.2"},
             {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/uuid-1.6.2/.libs/libuuid.a"}
             ]}.

%% {pre_hooks, [{compile, "make -C c_src/uuid-1.6.2"},
%%              {clean, "make -C c_src/uuid-1.6.2 clean"}]}.

{pre_hooks, [{compile, "c_src/build_deps.sh"}]}.

{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.

